/*Font*/
/*Variables*/
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*Body*/
body {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  text-align: center;
  background: #e6e6e6;
  font-size: 16px;
  color: #212121;
}
body p {
  color: #353b48;
  font-size: 12px;
}

/*Splash*/
.splash {
  background-image: url("https://i.postimg.cc/CM2cYyQG/splash-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  position: relative;
  color: white;
}
.splash .splash-inner {
  font-family: "Merriweather", serif;
  padding: 100px;
  font-size: 32px;
  letter-spacing: 4px;
}
.splash .splash-inner h3 {
  font-family: "EB Garamond", serif;
}
.splash .splash-inner .btn {
  display: inline-block;
  min-width: 160px;
  margin-top: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background: #fecf34;
  background-position: 100% 0;
  color: #212121;
  border-color: white;
}

/*Navigation*/
.navigation {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.navigation .logo p {
  font-family: "Dancing Script", cursive;
  color: #fecf34;
  font-size: 30px;
}
.navigation .nav ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.navigation .nav ul li :hover {
  color: #fecf34;
}
.navigation .nav ul li a {
  color: white;
  padding: 0 10px 0 10px;
}

/*Services*/
.services {
  margin-top: 100;
}
.services .container {
  display: flex;
  justify-content: center;
}
.services .container .title {
  font-family: "Merriweather", serif;
  margin-top: 50px;
}
.services .container .title .subtitle {
  font-size: 12px;
}
.services .container .title .row {
  display: flex;
  margin: 30px;
  padding: 20px;
}
.services .container .title .row .icons i {
  font-size: 30px;
  background: #212121;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fecf34;
  border-radius: 50%;
  border-width: 2px;
  border-color: #fecf34;
  text-align: center;
  border-width: 3px;
}
.services .container .title .row .icons i:hover {
  background: #fecf34;
  color: #212121;
}
.services .container .title .row .title {
  font-size: 18px;
}
.services .container .title .row .description {
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
}

/*Portfolio*/
.portfolio {
  font-family: "Merriweather", serif;
  background: #f5f6fa;
  padding: 20px 0;
}
.portfolio .container {
  background: white;
  padding: 10px;
}
.portfolio .container .title {
  margin: 20px auto;
}
.portfolio .container h5 {
  font-size: 14px;
}
.portfolio .container .card {
  background: white;
}
.portfolio .container img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Footer*/
.footer {
  padding: 50px 20px;
}
.footer .container {
  position: relative;
}
.footer .container .social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer .container .social i {
  margin: 5px 5px;
  font-size: 30px;
  background: #212121;
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  transition: all 1s;
}
.footer .container .social i:hover {
  cursor: pointer;
  background: #fecf34;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxPQUFBO0FBTUEsWUFBQTtBQVVBLFNBQUE7QUFFQTtFQUNJLHNCQUFBO0FDZEo7O0FEaUJBLE9BQUE7QUFFQTtFQUNJLFNBQUE7RUFDQSxVQUFBO0VBQ0EsaUNBeEJRO0VBeUJSLGtCQUFBO0VBQ0EsbUJBckJRO0VBc0JSLGVBQUE7RUFDQSxjQXBCUztBQ0tiO0FEaUJJO0VBQ0ksY0F0Qks7RUF1QkwsZUFBQTtBQ2ZSOztBRG1CQSxTQUFBO0FBRUE7RUFDSSxxRUFBQTtFQUNBLHNCQUFBO0VBQ0EsMkJBQUE7RUFDQSw0QkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQXRDVTtBQ3FCZDtBRG1CSTtFQUNJLGtDQWpETTtFQWtETixjQUFBO0VBQ0EsZUFBQTtFQUNBLG1CQUFBO0FDakJSO0FEbUJRO0VBQ0ksaUNBdERBO0FDcUNaO0FEb0JRO0VBQ0kscUJBQUE7RUFDQSxnQkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkEvREE7RUFnRUEsMkJBQUE7RUFDQSxjQS9EQztFQWdFRCxtQkFqRUU7QUMrQ2Q7O0FEeUJBLGFBQUE7QUFFQTtFQUNJLGFBQUE7RUFDQSw2QkFBQTtFQUNBLGlCQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0FDdkJKO0FEeUJJO0VBQ0ksc0NBeEZXO0VBeUZYLGNBcEZJO0VBcUZKLGVBQUE7QUN2QlI7QUQwQkk7RUFDSSxhQUFBO0VBQ0EscUJBQUE7RUFDQSxxQkFBQTtBQ3hCUjtBRDRCWTtFQUNJLGNBaEdKO0FDc0VaO0FENkJZO0VBQ0ksWUFuR0Y7RUFvR0Usc0JBQUE7QUMzQmhCOztBRGtDQSxXQUFBO0FBRUE7RUFDSSxlQUFBO0FDaENKO0FEa0NJO0VBQ0ksYUFBQTtFQUNBLHVCQUFBO0FDaENSO0FEa0NRO0VBQ0ksa0NBN0hFO0VBOEhGLGdCQUFBO0FDaENaO0FEa0NZO0VBQ0ksZUFBQTtBQ2hDaEI7QURtQ1k7RUFDSSxhQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7QUNqQ2hCO0FEbUNnQjtFQUNJLGVBQUE7RUFDQSxtQkFsSVA7RUFtSU8sV0FBQTtFQUNBLFlBQUE7RUFDQSxpQkFBQTtFQUNBLGNBeElSO0VBeUlRLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxxQkEzSVI7RUE0SVEsa0JBQUE7RUFDQSxpQkFBQTtBQ2pDcEI7QURtQ29CO0VBQ0ksbUJBaEpaO0VBaUpZLGNBL0lYO0FDOEdiO0FEcUNnQjtFQUNJLGVBQUE7QUNuQ3BCO0FEc0NnQjtFQUNJLGtCQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtBQ3BDcEI7O0FEOENBLFlBQUE7QUFFQTtFQUNJLGtDQWhMVTtFQWlMVixtQkF0S1E7RUF1S1IsZUFBQTtBQzVDSjtBRDhDSTtFQUNJLGlCQTdLTTtFQThLTixhQUFBO0FDNUNSO0FEOENRO0VBQ0ksaUJBQUE7QUM1Q1o7QUQrQ1E7RUFDSSxlQUFBO0FDN0NaO0FEZ0RRO0VBQ0ksaUJBekxFO0FDMklkO0FEaURRO0VBQ0ksV0FBQTtFQUNBLGFBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0FDL0NaOztBRG9EQSxTQUFBO0FBRUE7RUFDSSxrQkFBQTtBQ2xESjtBRG9ESTtFQUNJLGtCQUFBO0FDbERSO0FEb0RRO0VBQ0ksa0JBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLGdDQUFBO0FDbERaO0FEbURZO0VBQ0EsZUFBQTtFQUNBLGVBQUE7RUFDQSxtQkFuTkM7RUFvTkQsWUFyTkU7RUFzTkYsV0FBQTtFQUNBLFlBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBdE5DO0FDcUtiO0FEbURnQjtFQUNBLGVBQUE7RUFDQSxtQkEvTko7QUM4S1oiLCJmaWxlIjoic3R5bGUuY3NzIn0= */