/*Font*/

$font-header: 'Merriweather', serif;
$font-text: 'EB Garamond', serif;
$font-text-second: 'Dancing Script', cursive;

/*Variables*/

$color_one: hsl(0, 0%, 90%);
$color-two: hsl(46deg 99% 60%);
$color-three: hsl(0deg 0% 100%);
$color-four: hsl(0deg 0% 13%);
$color-five: rgb(53, 59, 72);
$color-six: rgb(245, 246, 250);

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*Body*/

body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
    text-align: center;
    background: $color_one;
    font-size: 16px;
    color: $color-four;

    p{
        color: $color-five;
        font-size: 12px;
    }
}

/*Splash*/

.splash { 
    background-image: url("https://i.postimg.cc/CM2cYyQG/splash-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
    position: relative;
    color: $color-three;

    .splash-inner {
        font-family: $font-header;
        padding: 100px;
        font-size: 32px;
        letter-spacing: 4px;

        h3 {
            font-family: $font-text;
        }
        
        .btn {
            display: inline-block;
            min-width: 160px;
            margin-top: 24px;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-width: 2px;
            border-style: solid;
            background: $color-two;
            background-position: 100% 0;
            color: $color-four;
            border-color:$color-three;
        }

    }

}

/*Navigation*/

.navigation {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

    .logo {
        font-family: $font-text-second;
        color: $color-two;
        font-size: 30px;
    }

    .nav ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;

        li {
            
            :hover {
                color: $color-two;
            }

            a {
                color: $color-three;
                padding: 0 10px 0 10px;
            }
        }
    }

}

/*Services*/

.services {
    margin-top: 100;

    .container {
        display: flex;
        justify-content: center;

        .title {
            font-family: $font-header;
            margin-top: 50px;

            .subtitle {
                font-size: 12px;
            }

            .row {
                display: flex;
                margin: 30px;
                padding: 20px;

                .icons i {
                    font-size: 30px;
                    background: $color-three;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    color: $color-two;
                    border-radius: 50%;
                    border-width: 2px;
                    border-color: $color-two;
                    text-align: center;
                }
                    
                .title {
                    font-size: 18px;
                }

                p {
                    padding:10px 60px;
                }

            }

        }
    }
}

/*Portfolio*/

.portfolio {
    font-family: $font-header;
    background: $color-six;
    padding: 20px 0;

    .container {
        background: $color-three;
        padding: 10px;
        
        .title {
            margin: 20px auto;
        }

        h5 {
            font-size: 14px;
        }
    
        .card {
            background: $color-three;
        }

        img {
            width: 100%;
            height: 350px;
            object-fit: cover
        }    
    }
}